.btnHomeLogin {
	-webkit-animation-delay: .5s;
}
.btnHomeRegister {
	-webkit-animation-delay: .8s;
}
.modalLogin {
	-webkit-animation-duration: 1.5s;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}